[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group apg43l_administrators
	push = +force group apg43l_administrators
	pushMerge = group apg43l_administrators
	submit = group apg43l_administrators
	submit = group apg43l_developers
	read = group Registered Users
	read = group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group apg43l_CI
	read = group apg43l_administrators
	read = group apg43l_developers
	read = group apg43l_readers
	create = group apg43l_administrators
	createTag = group apg43l_administrators
	delete = group apg43l_administrators
	createSignedTag = group apg43l_administrators
	label-Code-Review = -2..+2 group apg43l_administrators
	label-Verified = -1..+1 group apg43l_administrators
[receive]
	requireChangeId = true
[access "refs/tags/*"]
	create = group apg43l_CI
	create = group apg43l_administrators
	createTag = group apg43l_CI
	createTag = group apg43l_administrators
	createSignedTag = group apg43l_CI
	createSignedTag = group apg43l_administrators
	push = group apg43l_CI
	push = group apg43l_administrators
	pushMerge = group apg43l_CI
	pushMerge = group apg43l_administrators
[access "refs/heads/*"]
	push = +force group apg43l_administrators
	submit = group apg43l_developers
	owner = group apg43l_administrators
	read = group apg43l_CI
	read = group apg43l_administrators
	read = group apg43l_developers
	create = group apg43l_CI
	create = group apg43l_administrators
	create = group apg43l_developers
	createTag = group apg43l_CI
	createTag = group apg43l_administrators
	createSignedTag = group apg43l_administrators
	pushMerge = group apg43l_administrators
	label-Code-Review = -2..+2 group apg43l_developers
	label-Verified = -1..+1 group apg43l_CI
	label-Verified = -1..+1 group apg43l_administrators
[access "refs/heads/master"]
	push = group apg43l_administrators
	push = block group apg43l_CI
	push = block group apg43l_developers
	pushMerge = group apg43l_administrators
	pushMerge = block group apg43l_CI
	pushMerge = block group apg43l_developers
[access "refs/for/refs/heads/*"]
	owner = group apg43l_administrators
	read = group apg43l_CI
	read = group apg43l_administrators
	read = group apg43l_developers
	createTag = group apg43l_administrators
	createSignedTag = group apg43l_administrators
	push = group apg43l_administrators
	push = group apg43l_developers
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
	pushMerge = group pc-apz
	submit = group apg43l_administrators
	submit = group apg43l_developers
[access "^refs/for/refs/heads/apg43l_3_[7-9]"]
	push = block group apg43l_CI
	push = block group apg43l_administrators
	push = block group apg43l_developers
	pushMerge = group apg43l_CI
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
[access "refs/for/refs/heads/apg43l_dev"]
	push = block group apg43l_CI
	push = block group apg43l_administrators
	push = block group apg43l_developers
	pushMerge = group apg43l_CI
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
[access "refs/for/refs/heads/master"]
	push = block group apg43l_CI
	push = block group apg43l_administrators
	push = block group apg43l_developers
	pushMerge = group apg43l_administrators
	pushMerge = block group apg43l_CI
	pushMerge = block group apg43l_developers
[access "^refs/heads/apg43l_3_[7-9]"]
	push = group apg43l_CI
	push = group apg43l_administrators
	push = group apg43l_developers
	pushMerge = group apg43l_CI
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
[access "refs/heads/apg43l_dev"]
	push = group apg43l_CI
	push = group apg43l_administrators
	push = group apg43l_developers
	pushMerge = group apg43l_CI
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
[access "refs/for/refs/heads/apg43l_4_1"]
	push = group apg43l_administrators
	push = group apg43l_developers
	push = block group apg43l_readers
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
[access "refs/heads/apg43l_4_1"]
	push = +force group apg43l_administrators
	push = +force group apg43l_developers
	push = block +force group apg43l_readers
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
	pushMerge = group apg43l_readers
[access "refs/heads/apg43l_4_2_1"]
	push = +force group apg43l_administrators
	push = +force group apg43l_developers
	push = block +force group apg43l_readers
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
	pushMerge = group apg43l_readers
[access "refs/heads/apg43l_4_3_0"]
	push = +force group apg43l_administrators
	push = +force group apg43l_developers
	push = block +force group apg43l_readers
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
	pushMerge = group apg43l_readers
[access "refs/heads/apg43l_5_0_0"]
	push = +force group apg43l_administrators
	push = +force group apg43l_developers
	push = block +force group apg43l_readers
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
	pushMerge = group apg43l_readers
[access "refs/heads/apg43l_5_1_0"]
	push = +force group apg43l_administrators
	push = +force group apg43l_developers
	push = block +force group apg43l_readers
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
	pushMerge = group apg43l_readers
[access "refs/heads/apg43l_5_2_0"]
	push = group apg43l_administrators
	push = group apg43l_developers
	push = block group apg43l_readers
	pushMerge = group apg43l_administrators
	pushMerge = group apg43l_developers
	pushMerge = group apg43l_readers
[plugin "data-owner"]
	DataOwner = ephiaki
	DataOwnerDepartment = BCSS CNE CUE MAHC PDG MSC AXE HLR & CBA
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
